static/status_submeter.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">
<xs:element name="request">
<xs:complexType>
<xs:sequence>
  <xs:element name="nome_metodo" type="xs:string" />
  <xs:element name="parametro">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status_submeter" type="xs:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tipo_retorno" type = "xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>